apiVersion: v1
kind: Service
metadata:
  name: guestbook
  namespace: guestbook
spec:
  type: NodePort
  selector:
    app: guestbook
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30100
    protocol: TCP
